# eclipse
bin/
*.launch
.settings/
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vs code
.vscode/
.vscode/settings.json
*.sln

# gradle
/build/
.gradle

# other
eclipse
run
src/main/resources/Config.properties
target/



Config/

libs/
